---
import favicon from "../assets/favicon.jpg";
import Aquarium from "../components/Aquarium.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fleny" description="Fleny website" image={favicon} url="https://fleny113.github.io">
    <Aquarium />

    <main>
        <section class="content blur-box">
            <h1 class="welcome-title">
                <span class="welcome italic">Hi there!</span>
                <span class="intro">I'm <span class="fleny">Fleny</span></span>
            </h1>
            <p>
                I'm a 19 years old high school CS student from <span class="italy">Italy</span> with a passion for tech,
                especially <span class="programming">programming</span>.
            </p>
            <p>I hope you'll like what you see!</p>
        </section>

        <section class="fleny-tooltip-content blur-box">
            <p>My pronouns are he/him</p>
            <p>And I'm a furry :3</p>
        </section>
    </main>
</Layout>

<style>
    main {
        display: grid;
        align-content: center;
        height: 100%;
        padding-inline: 16px;
        text-wrap: balance;
    }

    p {
        font-family: var(--font-fira-code);
        text-align: center;
    }

    * + p {
        margin-top: 1rem;
    }

    .blur-box {
        background: rgba(128, 79, 243, 0.12);
        border: 3px solid rgba(182, 165, 238, 0.3);
        border-radius: 16px;
        box-shadow: 0px 20px 20px 10px rgba(0 0 0 / 0.2);
        backdrop-filter: blur(12px);
    }

    .content {
        width: clamp(100px, 75%, 800px);
        margin-inline: auto;
        padding: 24px 32px;
    }

    .welcome-title {
        display: grid;
        grid: repeat(2, auto) / auto;

        font-family: var(--font-zalando-sans);
        text-align: center;

        .welcome {
            font-size: 24px;
        }

        .intro {
            font-size: 48px;
        }

        @media (width >= 800px) {
            .welcome {
                grid-area: 1 / 1;
                place-self: start;
            }

            .intro {
                grid-area: 1 / 1 / span 2;
                place-self: center;
            }
        }
    }

    .fleny {
        font-weight: bold;
        font-family: var(--font-fira-code), sans-serif;

        text-decoration: dashed underline #804ff3 3px;

        color: transparent;
        background: linear-gradient(to top right, #804ff3, #b6a5ee);
        background-clip: text;

        anchor-name: --fleny-tooltip;
    }

    .fleny-tooltip-content {
        opacity: 0;
        visibility: hidden;

        position: absolute;
        position-anchor: --fleny-tooltip;
        position-area: top;

        padding: 10px 1rem;

        transition:
            opacity 0.3s ease,
            visibility 0.3s ease;

        /** Show the tooltip when .fleny is hovered or the tooltip itself is hovered or in focus */
        :has(.fleny:hover) &,
        &:hover,
        &:focus-within {
            opacity: 1;
            visibility: visible;
        }

        p {
            margin-block: 5px;
        }
    }

    .italy {
        color: transparent;
        background: linear-gradient(to right in hsl, #008c45, #f4f5f0 2ch, #cd212a);
        background-clip: text;
    }

    .programming {
        font-family: monospace;
        color: lightgreen;
    }
</style>
