---
import favicon from "#/assets/favicon.jpg";
import Aquarium from "#/components/Aquarium.astro";
import BlurSection from "#/components/BlurSection.astro";
import Footer from "#/components/Footer.astro";
import Project from "#/components/Project.astro";
import Tooltip from "#/components/Tooltip.astro";
import Layout from "#/layouts/Layout.astro";
---

<Layout title="Fleny" description="Fleny website" image={favicon} url="https://fleny113.github.io">
    <Aquarium />

    <main id="main">
        <BlurSection class="content">
            <h1 class="welcome-title">
                <span class="welcome italic">Hi there!</span>
                <span class="intro">
                    I'm
                    <Tooltip tooltipName="fleny-hero">
                        <span class="fleny">Fleny</span>

                        <Fragment slot="tooltip">
                            <p>My pronouns are he/him</p>
                            <p>And I'm a furry :3</p>
                        </Fragment>
                    </Tooltip>
                </span>
            </h1>
            <p class="margin-top">
                I'm a 19 years old high school Computer Science student from <span class="italy">Italy</span> with a passion for tech,
                especially <span class="programming">programming</span>.
            </p>
            <p class="margin-top">I hope you'll like what you see!</p>
            <a class="margin-top link-button" href="#projects">Have a look around</a>
        </BlurSection>

        <BlurSection class="content" id="projects">
            <h2>Projects</h2>
            <p class="margin-top">
                I usually code in <a href="https://www.typescriptlang.org" target="_blank">Typescript</a>
                and <a href="https://dot.net" target="_blank">.NET C#</a>, but I know other languages as well including
                <a href="https://cppreference.com/" target="_blank">C/C++</a>,
                <a href="https://python.org" target="_blanck">Python</a>,
                <a href="https://java.com" target="_blanck">Java</a>
                and <a href="https://php.net" target="_blanck">PHP</a>.
            </p>

            <div class="margin-top projects-list">
                <Project tags={[{ text: "TS", color: "var(--typescript)" }, { text: "Discord", color: "var(--discord)" }]}>
                    <Fragment slot="summary">
                        <h3>Bestemmiometro</h3>
                        <p>A Discord bot to count blasphemies</p>
                    </Fragment>
                    <Fragment slot="details">
                        <p>
                            Bestemmiometro is a Discord bot that counts how many blasphemies are sent in a message and creates a ranking of
                            the Discord servers with the most sent blasphemies.
                        </p>
                        <p class="margin-top">
                            This bot is not developed by me in solo, but in collaboration with
                            <a href="https://anto.rocks" target="_blank">Anto</a>
                            and <a href="https://github.com/tsClauz" target="_blank">Clauz</a>.
                        </p>
                        <p class="margin-top">
                            The bot only supports the italian language and we don't plan to support more languages for the time being.
                        </p>
                        <p class="margin-top">
                            You can find the bot on
                            <a href="https://top.gg/bot/960222248353026069" target="_blank">top.gg</a>
                            or the discord
                            <a href="https://discord.com/discovery/applications/960222248353026069" target="_blank">app directory</a>
                            page.
                        </p>
                    </Fragment>
                </Project>
                <Project tags={[{ text: "TS", color: "var(--typescript)" }, { text: "Discord", color: "var(--discord)" }]}>
                    <Fragment slot="summary">
                        <h3>Discordeno</h3>
                        <p>Efficient and Lightweight Discord API library</p>
                    </Fragment>
                    <Fragment slot="details">
                        <p>
                            Discordeno is an <a href="https://github.com/discordeno/discordeno">open source</a> library for the Discord API
                            that supports nodejs, deno and bun written in Typescript. The library is simple, efficient and lightweight so
                            you can build whatever you want with it.
                        </p>
                        <p class="margin-top">
                            I'm a contributor of this amazing library
                            <a href="https://github.com/discordeno/discordeno/graphs/contributors" target="_blank"
                                >among a lot of other nice people</a
                            >.
                        </p>
                        <p class="margin-top">
                            You can join the <a href="https://discord.gg/ddeno" target="_blank">Discord server</a>
                            for support and discussions on the library or go to the
                            <a href="https://discordeno.js.org" target="_blank">documentation</a>
                            to learn more about it.
                        </p>
                    </Fragment>
                </Project>
                <Project tags={[{ text: "C#", color: "var(--csharp)" }]}>
                    <Fragment slot="summary">
                        <h3>Hexus</h3>
                        <p>Cross platform process manager</p>
                    </Fragment>
                    <Fragment slot="details">
                        <p>
                            Hexus is an <a href="https://github.com/Fleny113/Hexus">open source</a> process manager written using C#. The
                            project is inspired by
                            <a href="https://github.com/Unitech/pm2" target="_blank">pm2</a>
                            and tries to improve on some parts of it like how the log files are splitted for STDOUT and STDERR.
                        </p>
                        <p class="margin-top">
                            It is designed to be cross platform and fast while having a clean and powerful CLI you can use to manage your
                            applications.
                        </p>
                    </Fragment>
                </Project>
                <Project tags={[{ text: "C#", color: "var(--csharp)" }]}>
                    <Fragment slot="summary">
                        <h3>EndpointMapper</h3>
                        <p>ASP.NET Core minimal APIs endpoint mapper</p>
                    </Fragment>
                    <Fragment slot="details">
                        <p>
                            EndpointMapper is an <a href="https://github.com/Fleny113/EndpointMapper">open source</a> library for ASP.NET
                            Core to map methods in a class as minimal APIs endpoints while keeping it as easy as possible.
                        </p>
                        <p class="margin-top">
                            The library uses the native ASP.NET delegate system to bind the parameters of your methods to be as close to the
                            native approaches while having the advantages of auto discovery of your endpoints.
                        </p>
                    </Fragment>
                </Project>
                <Project tags={[{ text: "Hardware", color: "var(--hardware-tag)" }]}>
                    <Fragment slot="summary">
                        <h3>Hackpad</h3>
                        <p>A hackpad made for Hack Club Blueprint</p>
                    </Fragment>
                    <Fragment slot="details">
                        <p>
                            A WIP hackpad made for Hack Club Blueprint. The hackpad has a custom PCB with a microcontroller and a 3D printed
                            case with 5 switches, a rotary encoder and a OLED display. I made it for media control but haven't got around to
                            finished it yet.
                        </p>
                        <p class="margin-top">
                            If you are interested for some reason, the files are on
                            <a href="https://github.com/Fleny113/hackpad-blueprint" target="_blanck">Github</a>.
                        </p>
                    </Fragment>
                </Project>
                <Project tags={[{ text: "C", color: "var(--cpp)" }]}>
                    <Fragment slot="summary">
                        <h3>UDP Forwarder</h3>
                        <p>A very use-case specific tool to forward UDP packets</p>
                    </Fragment>
                    <Fragment slot="details">
                        <p>UDP Forwarder is a small program to forward UDP packets around.</p>
                        <p class="margin-top">
                            This is useful to forward UDP packets in NAT-ed environments where you can't port-forward properly or you don't
                            have access to the router configuration.
                        </p>
                        <p class="margin-top">
                            This has been built for a very specific use-case however if you are interested for some reason, the code is
                            <a href="https://github.com/Fleny113/udp-forwarder" target="_blanck">open source</a>.
                        </p>
                    </Fragment>
                </Project>
                <Project tags={[{ text: "Java", color: "var(--java)" }, { text: "Minecraft", color: "var(--minecraft-tag)" }]}>
                    <Fragment slot="summary">
                        <h3>Shrugger</h3>
                        <p>Adds a /shrug command for the chat ¯\_(ツ)_/¯</p>
                    </Fragment>
                    <Fragment slot="details">
                        <p>Adds a /shrug command, inspired by the /shrug command in Discord.</p>
                        <p class="margin-top">
                            I update this mod based on what I play with my friends however if you are interested for some reason, the code
                            is <a href="https://github.com/Fleny113/shrugger" target="_blanck">open source</a>.
                        </p>
                    </Fragment>
                </Project>
            </div>

            <h3 class="margin-top">School projects</h3>
            <p class="margin-top">I also made some school projects for my high school classes.</p>

            <div class="margin-top projects-list">
                <Project tags={[{ text: "React Native", color: "var(--react-tag)" }, { text: "FLL", color: "var(--lego-tag)" }]}>
                    <Fragment slot="summary">
                        <h3>Space4Arch</h3>
                        <p>Collab w/@TheTinkerersHaven; Archeology app</p>
                    </Fragment>
                    <Fragment slot="details">
                        <p>
                            This project was made for the FIRST Lego League 2025-26 as the innovation project for our team, Planck Team. The
                            app is an archeology app where you can track artifacts found around the word.
                        </p>
                        <p class="margin-top">
                            This project was made in collaboration with
                            <a href="https://thetinkerershaven.github.io/" target="_blanck">@TheTinkerersHaven</a>
                            with contributions from other memebrs of the team.
                        </p>
                        <p class="margin-top">
                            If you are interested, you can check the
                            <a href="https://github.com/PlanckTeam/Space4Arch" target="_blanck">github</a>
                            for this. The code is not open source.
                        </p>
                    </Fragment>
                </Project>
                <Project tags={[{ text: "Java", color: "var(--java)" }, { text: "Capstone", color: "var(--capstone-tag)" }]}>
                    <Fragment slot="summary">
                        <h3>Restaurant Simulator 26</h3>
                        <p>Collab w/@TheTinkerersHaven; A GUI restaurant simulator</p>
                    </Fragment>
                    <Fragment slot="details">
                        <p>A simple restaurant simulator made in Java with a Swing-based GUI.</p>
                        <p class="margin-top">
                            This project was made in collaboration with
                            <a href="https://thetinkerershaven.github.io/" target="_blanck">@TheTinkerersHaven</a>
                            and another of my classmates.
                        </p>
                        <p class="margin-top">
                            If you are interested for some reason, the code is
                            <a href="https://github.com/TheTinkerersHaven/RestaurantSimulator26" target="_blanck">open source</a>.
                        </p>
                    </Fragment>
                </Project>
                <Project tags={[{ text: "C++", color: "var(--cpp)" }, { text: "Capstone", color: "var(--capstone-tag)" }]}>
                    <Fragment slot="summary">
                        <h3>CitySim</h3>
                        <p>Collab w/@TheTinkerersHaven; A TUI-based city simulator</p>
                    </Fragment>
                    <Fragment slot="details">
                        <p>A simple city simulator made in C++ with a TUI-based interface.</p>
                        <p class="margin-top">
                            This project was made in collaboration with
                            <a href="https://thetinkerershaven.github.io/" target="_blanck">@TheTinkerersHaven</a>.
                        </p>
                        <p class="margin-top">
                            If you are interested for some reason, the code is
                            <a href="https://github.com/TheTinkerersHaven/CitySim" target="_blanck">open source</a>.
                        </p>
                    </Fragment>
                </Project>
            </div>
        </BlurSection>

        <BlurSection class="content">
            <h2>Find me online</h2>
            <p class="margin-top">
                You can check out my profile on
                <a class="align-icon" href="https://github.com/Fleny113" target="_blank"> Github </a>
                or you can reach out to me on
                <Tooltip tooltipName="discord-tooltip">
                    <span class="underline align-icon"> Discord </span>

                    <Fragment slot="tooltip">
                        <p>My Discord tag is @fleny</p>
                    </Fragment>
                </Tooltip>
                or by sending me an
                <Tooltip tooltipName="email-tooltip">
                    <a class="align-icon" href="mailto:fleny113@outlook.com" target="_blanck"> email </a>

                    <Fragment slot="tooltip">
                        <p>My email is fleny113@outlook.com</p>
                    </Fragment>
                </Tooltip>
            </p>
        </BlurSection>
    </main>

    <Footer />
</Layout>

<style>
    main {
        display: grid;
        place-items: center;
        place-content: center;
        /* Force the first row to be 100dvh */
        grid-template-rows: 100dvh;

        /* Gap and margin-bottom should match */
        gap: 50dvh;
        margin-bottom: 50dvh;

        padding-inline: 16px;

        text-wrap: balance;
        text-align: center;
    }

    .content {
        width: clamp(100px, 75%, 800px);
        padding: 24px 32px;
    }

    /* #region Hero */
    .welcome-title {
        display: grid;
        grid: repeat(2, auto) / auto;

        .welcome {
            font-size: 24px;
        }

        .intro {
            font-size: 48px;
        }

        @media (width >= 800px) {
            .welcome {
                grid-area: 1 / 1;
                place-self: start;
            }

            .intro {
                grid-area: 1 / 1 / span 2;
                place-self: center;
            }
        }
    }

    .fleny {
        font-family: var(--font-inter);
        font-weight: bold;
        color: transparent;
        background: linear-gradient(to top right in oklch, var(--fleny-dark), var(--fleny-light));
        background-clip: text;
        text-decoration: dashed underline var(--fleny-dark) 3px;
        text-underline-offset: 5px;
    }

    .italy {
        color: transparent;
        background: linear-gradient(to right in hsl, #008c45 33%, #f4f5f0 66%, #cd212a 66%);
        background-clip: text;
    }

    .programming {
        font-family: monospace;
        color: lightgreen;
    }
    /* #endregion Hero */

    /* #region Projects */
    .projects-list {
        --border: solid hsl(from var(--fleny-light) h s l / 0.3);

        border: 3px var(--border);
        border-radius: 16px;
        background-color: hsl(0 0 100 / 0.1);
        overflow: hidden;
    }
    /* #endregion Projects */

    .underline {
        text-decoration: dashed underline currentColor 2px;
        text-underline-offset: 2px;
    }
</style>
