---
import favicon from "#/assets/favicon.jpg";
import Aquarium from "#/components/Aquarium.astro";
import BlurStyle from "#/components/BlurSection.astro";
import Layout from "#/layouts/Layout.astro";
---

<Layout title="Fleny" description="Fleny website" image={favicon} url="https://fleny113.github.io">
    <Aquarium />

    <main>
        <BlurStyle class="content">
            <h1 class="welcome-title">
                <span class="welcome italic">Hi there!</span>
                <span class="intro">I'm <span class="fleny">Fleny</span></span>
            </h1>
            <p>
                I'm a 19 years old high school CS student from <span class="italy">Italy</span> with a passion for tech,
                especially <span class="programming">programming</span>.
            </p>
            <p>I hope you'll like what you see!</p>
            <button class="explore-btn" id="explore-btn" type="button">Have a look around</button>

            <script>
                // Script for the "Have a look around" button to scroll to the projects section
                import { assert } from "#/utils.ts";

                const btn = document.querySelector(".explore-btn");
                const projects = document.querySelector(".projects");

                assert(btn, "Explore button not found");
                assert(projects, "Projects section not found");

                btn.addEventListener("click", () => projects.scrollIntoView());
            </script>
        </BlurStyle>

        <BlurStyle class="fleny-tooltip-content">
            <p>My pronouns are he/him</p>
            <p>And I'm a furry :3</p>
        </BlurStyle>

        <BlurStyle class="content projects">
            <h2>Projects</h2>
            <p>
                I usually code in
                {" "}<a class="dotnet" href="https://dot.net" target="_blank">.NET C#</a>{" "}
                and
                {" "}<a class="typescript" href="https://www.typescriptlang.org" target="_blank">Typescript</a>, but I
                know other languages as well including
                {" "}<a class="cpp" href="https://cppreference.com/" target="_blank">C/C++</a>,
                {" "}<a href="https://python.org" target="_blanck" class="python">Python</a>,
                {" "}<a href="https://java.com" target="_blanck" class="java">Java</a>{" "}
                and
                {" "}<a href="https://php.net" target="_blanck" class="php">PHP</a>.
            </p>
        </BlurStyle>
    </main>
</Layout>

<style>
    main {
        display: grid;
        place-items: center;
        place-content: center;
        /* Force the first row to be 100dvh */
        grid-template-rows: 100dvh;

        padding-inline: 16px;
        /* This is provably temp, as there will be a footer */
        padding-bottom: 120px;

        text-wrap: balance;
        text-align: center;
    }

    .content {
        width: clamp(100px, 75%, 800px);
        padding: 24px 32px;
    }

    /* #region Hero */
    .welcome-title {
        display: grid;
        grid: repeat(2, auto) / auto;

        .welcome {
            font-size: 24px;
        }

        .intro {
            font-size: 48px;
        }

        @media (width >= 800px) {
            .welcome {
                grid-area: 1 / 1;
                place-self: start;
            }

            .intro {
                grid-area: 1 / 1 / span 2;
                place-self: center;
            }
        }
    }

    .fleny {
        font-family: var(--font-inter);
        font-weight: bold;
        text-decoration: dashed underline var(--fleny-dark) 3px;
        color: transparent;
        background: linear-gradient(to top right, var(--fleny-dark), var(--fleny-light));
        background-clip: text;

        anchor-name: --fleny-tooltip;
    }

    .fleny-tooltip-content {
        opacity: 0;
        visibility: hidden;

        position: absolute;
        position-anchor: --fleny-tooltip;
        position-area: top;

        padding: 10px 1rem;

        transition:
            opacity 0.3s ease,
            visibility 0.3s ease;

        /** Show the tooltip when .fleny is hovered or the tooltip itself is hovered or in focus */
        :has(.fleny:hover) &,
        &:hover,
        &:focus-within {
            opacity: 1;
            visibility: visible;
        }

        p {
            margin-block: 5px;
        }
    }

    .italy {
        color: transparent;
        background: linear-gradient(to right in hsl, #008c45, #f4f5f0 1ch, #cd212a);
        background-clip: text;
    }

    .programming {
        font-family: monospace;
        color: lightgreen;
    }

    .explore-btn {
        appearance: none;
        font: inherit;

        padding: 8px 16px;
        border: none;
        border-radius: 24px;

        background-color: hsl(var(--fleny-light-hsl) / 0.1);
        box-shadow: 0px 10px 15px 5px hsl(0 0 0 / 0.2);

        &:active {
            /* Glow, and the normal shadow */
            box-shadow:
                0px 0px 10px 2px hsl(var(--fleny-light-hsl) / 0.1),
                0px 10px 15px 5px hsl(0 0 0 / 0.2);
        }
    }
    /* #endregion Hero */

    /* #region Projects */

    .projects {
        /* Programming language colors */
        --csharp: hsl(253 67 66);
        --typescript: hsl(211 60 48);
        --cpp: hsl(300 95 55);
        --python: hsl(48 100 65);
        --java: hsl(20 100 50);
        --php: hsl(229 30 64);

        .dotnet {
            color: var(--csharp);
        }

        .typescript {
            color: var(--typescript);
        }

        .cpp {
            color: var(--cpp);
        }

        .python {
            color: var(--python);
        }

        .java {
            color: var(--java);
        }

        .php {
            color: var(--php);
        }
    }

    /* #endregion Projects */
</style>
