<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Fleny</title>
        <meta name="description" content="Fleny website" />
        <meta property="og:title" content="Fleny" />
        <meta property="og:description" content="Fleny website" />
        <meta property="og:image" content="/favicon.jpg" />
        <meta property="og:url" content="https://fleny113.github.io" />
        <meta name="twitter:title" content="Fleny" />
        <meta name="twitter:description" content="Fleny website" />
        <meta name="twitter:image" content="/favicon.jpg" />
        <meta name="twitter:card" content="summary_large_image" />
        <link rel="icon" type="image/jpg" href="/favicon.jpg" />
    </head>

    <body>
        <slot />
    </body>
</html>

<style>
    :root {
        --text: #6b6375;
        --text-h: #08060d;

        --sans: system-ui, "Segoe UI", Roboto, sans-serif;
        --heading: system-ui, "Segoe UI", Roboto, sans-serif;

        font: 18px/145% var(--sans);
        letter-spacing: 0.18px;
        color-scheme: light dark;
        color: var(--text);
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overscroll-behavior-y: contain;

        @media (max-width: 1024px) {
            font-size: 16px;
        }
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --text: #9ca3af;
            --text-h: #f3f4f6;
        }
    }

    body {
        margin: 0;
        position: relative;
    }

    h1,
    h2 {
        font-family: var(--heading);
        font-weight: 500;
        color: var(--text-h);
    }

    h1 {
        font-size: 56px;
        letter-spacing: -1.68px;
        margin: 32px 0;

        @media (max-width: 1024px) {
            font-size: 36px;
            margin: 20px 0;
        }
    }

    h2 {
        font-size: 24px;
        line-height: 118%;
        letter-spacing: -0.24px;
        margin: 0 0 8px;

        @media (max-width: 1024px) {
            font-size: 20px;
        }
    }

    p {
        margin: 0;
    }
</style>
