---
import "./styles.css";
import type { ComponentProps } from "astro/types";
import CommonHead from "../components/CommonHead.astro";

type Props = ComponentProps<typeof CommonHead> & {
    children: unknown;
};
---

<!doctype html>
<html lang="en">
    <head>
        <CommonHead title={Astro.props.title} description={Astro.props.description} image={Astro.props.image} url={Astro.props.url} />
    </head>

    <body>
        <slot />
    </body>
</html>
