---
import "./styles.css";
import CommonHead, { type Props as CommonHeadProps } from "../components/CommonHead.astro";

type Props = CommonHeadProps & {
    children: unknown;
};
---

<!doctype html>
<html lang="en">
    <head>
        <CommonHead
            title={Astro.props.title}
            description={Astro.props.description}
            image={Astro.props.image}
            url={Astro.props.url}
        />
    </head>

    <body>
        <slot />
    </body>
</html>
