:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: dark;
    text-rendering: optimizeLegibility;

    font-size: 18px;
}

* {
    margin: 0;
}

body {
    height: 100dvh;
}

.italic {
    font-style: italic;
}
